/* ----------------------------------------- */
/* Color Scheme: Technobeat
/* ----------------------------------------- */
.lt-theme {
  --primary: #000000;
  --secondary: #f5f5f5;
  --accent: #e2127a;
  --background: #ffffff;
  --surface: #333333;
  --on-primary: #ffffff;
  --on-secondary: #333333;
  --on-accent: 255, 255, 255;
  --on-background: #333333;
  --on-surface: #ffffff;
}
.dk-theme {
  --primary: #000000;
  --secondary: #202020;
  --accent: #e2127a;
  --background: #0e0e0e;
  --surface: #151515;
  --on-primary: #ffffff;
  --on-secondary: #ffffff;
  --on-accent: 255, 255, 255;
  --on-background: #cccccc;
  --on-surface: #cccccc;
}
